.shouts.index ul,
.shouts.index li {
	list-style: none;
	padding: 0;
	margin: 0
}
.shouts.index li {
	clear: both;
	margin: 2em 0;
}
.shouts.index p.picture {
	float: left;
	/* padding-top: 1.5em; */
	padding-right: 1em;
}
.shouts.index p.info {
	padding-bottom: .5em;
}
.shouts.index div.body {
	float: left;
	margin-left: -.3em;
}
.shouts.index div.body p {
	float: left;
	border: 2px solid #ccc; /* # */
	border-left-width: 7px;
	border-right-color: #ddd;
	margin-bottom: 5px;
	padding: 7px 12px;
	clear: both;
	background: #f0f1f1;
	border-radius: 15px; /* CSS 3 */
	-o-border-radius: 15px; /* Opera */
	-icab-border-radius: 15px; /* iCab */
	-khtml-border-radius: 15px; /* Konqueror */
	-moz-border-radius: 15px; /* Firefox */
	-webkit-border-radius: 15px; /* Safari */
}
.shouts.index p.picture img {
	border: 1px solid #224477;
	padding: 1px;
	border-radius: 2px; /* CSS 3 */
	-o-border-radius: 2px; /* Opera */
	-icab-border-radius: 2px; /* iCab */
	-khtml-border-radius: 2px; /* Konqueror */
	-moz-border-radius: 2px; /* Firefox */
	-webkit-border-radius: 2px; /* Safari */
}
.shouts.index p.picture img:hover {
	background: white;
	border-color: silver;
	color: black;
}
#shouts form fieldset {
	background: red;
}
#shouts form,
#shouts form fieldset,
#shouts form legend,
#shouts form input {
	clear: none;
	display: inline;
	float: left;
	margin: 0;
}
#shouts form input {
	float: left;
}
.shouts.index .actions {
	clear: both;
}
.shouts.index .shout.is_hidden .picture,
.shouts.index .shout.is_hidden .info,
.shouts.index .shout.is_hidden .body {
	opacity: .5;
}