# Database configuration
www/app/config/database.php

# Deployment specific
www/app/config/core.deployment.php

# System specific .htaccess file
www/app/webroot/.htaccess

# Cake caches
www/app/tmp/*
www/app/tmp/cache/cake_*
www/app/tmp/cache/models/cake_*
www/app/tmp/cache/persistent/cake_*
www/app/tmp/cache/views/*.php
www/app/tmp/avatar_uploads
www/app/tmp/avatar_uploads/*

# Cake logs
www/app/tmp/logs/*.log

# Webroot uploaded files
www/app/webroot/uploads/*
www/app/webroot/data/*

# HTML webroot cache
www/app/webroot/cache/*

# Temporary files
tmp/*

# Mac OS X Finder settings
.DS_Store

# CakePHP directory placemolder
empty

# Local files
local
local/*
libs
libs/*