# Database configuration
www/app/config/database.php

# System specific .htaccess file
www/app/webroot/.htaccess

# Cake caches
app/tmp/cache/cake_*
app/tmp/cache/models/cake_*
app/tmp/cache/persistent/cake_*
app/tmp/cache/views/*.php
 
# Cake logs
app/tmp/logs/*.log
 
# Wildflower uploaded files
app/webroot/uploads/*
 
# HTML webroot cache
app/webroot/cache/*
 
.DS_Store