# Database configuration
www/app/config/database.php

# System specific .htaccess file
www/app/webroot/.htaccess

# Cake caches
www/app/tmp/cache/cake_*
www/app/tmp/cache/models/cake_*
www/app/tmp/cache/persistent/cake_*
www/app/tmp/cache/views/*.php
 
# Cake logs
www/app/tmp/logs/*.log
 
# Webroot uploaded files
www/app/webroot/uploads/*
 
# HTML webroot cache
www/app/webroot/cache/*
 
.DS_Store