body {
	font-family: 'Lucida Grande', 'Calibri', 'Helvetica', 'Arial', sans-serif;
}
h2,
h3 {
	font-family: 'Gill Sans', 'Lucida Grande', 'Calibri', 'Helvetica', 'Arial', sans-serif;
}
body,
a:hover,
h1,
#header h1 a,
#header h1 a:hover {
	color: #fff;
	background: #247;
}
a,
div.actions ul li a {
	background: #fff;
	color: #247;
}
#header h1 {
	background-color: #247;
}
#footer a {
	color: white;
	text-decoration: none;
	background: none;
}
table tr td {
	border-bottom: 1px solid #ccc;
	empty-cells: show;
}

/* flash message */
#authMessage,
#flashMessage {
	width: auto;
	margin: 0;
	border: 1px solid #900;
	color: #900;
	border-radius: 4px; /* CSS 3 */
	-o-border-radius: 4px; /* Opera */
	-icab-border-radius: 4px; /* iCab */
	-khtml-border-radius: 4px; /* Konqueror */
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari */
	background-image: url('/img/notice_error.png');
	background-repeat: no-repeat;
	background-position: .02em -.2em;
	padding-left: 2.2em;
	padding-top: .4em;
	padding-bottom: .4em;
	padding-right: 1em;
	margin-bottom: 2em;
	margin-left: 1.4em;
	margin-top: 2em;
	font-size: 110%;
	background-color: #fffff7;
}
table, thead, tbody, tfoot, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	border: 1px solid #ddd;
}
table {
	margin-bottom: 1em;
}
#authMessage,
#flashMessage {
	position: absolute;
	top: 1.3em;
	z-index: 2000;
}
#authMessage.success,
#flashMessage.success {
	color: green;
	border-color: green;
	background-image: url('/img/notice_success.png');
}
#authMessage.notification,
#flashMessage.notification {
	color: #8F7500;
	border-color: #8F7500;
	background-image: url('/img/notice_notice.png');
}

/* debug */
.cake-sql-log caption {
	font-size: 90%;
	padding-top: 10em;
	padding-bottom: 1em;
	color: #fff;
}
.clear {
	line-height: 0;
	height: 0;
	font-size: 0;
	border: 0;
	padding: 0;
	margin: 0;
	clear: both;
}