#menu,
#content,
#authMessage,
#flashMessage,
form div.input.error .error-message,
form div.input.text input,
form div.input.password input,
form div.submit input,
form fieldset,
form textarea,
a.iconLinkButton,
.messageSubjectClickable:before {
	border-radius: 4px;
	behavior: url('css/htc/border-radius.htc');
}
form fieldset {
	background: white
}
