body {
	font-family: 'Lucida Grande', 'Calibri', 'Helvetica', 'Arial', sans-serif;
}
h2,
h3 {
	font-family: 'Gill Sans', 'Lucida Grande', 'Calibri', 'Helvetica', 'Arial', sans-serif;
}
body,
a:hover,
h1,
#header h1 a,
#header h1 a:hover {
	color: #fff;
	background: #247;
}
a,
div.actions ul li a {
	background: #fff;
	color: #247;
}
#header h1 {
	background-color: #247;
}
#footer a {
	color: white;
	text-decoration: none;
	background: none;
}
table tr td {
	border-bottom: 1px solid #ccc;
}