#header h1 {
	background-image: url('../img/sna.icon.gif');
	background-repeat: no-repeat left;
	background-position: left -8px;
	padding-left: 40px;
}
.cake-sql-log caption {
	font-size: 90%;
	padding-bottom: 1em;
	color: #fff;
}
div.input label {
	padding-left: 8px;
	padding-bottom: .3em;
	line-height: 100%;
	font-size: 100%;
}
form fieldset {
	padding-right: 30px;
}
form legend {
	padding-left: 6px;
	padding-right: 6px;
}
form div.input.text input,
form div.input.password input,
form div.submit input,
form fieldset,
form textarea {
	border: 1px solid #999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
form div.input.text input,
form div.input.password input,
form textarea {
	color: #333;
	background: #fafafa;
	letter-spacing: .2pt;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 3px;
	background-image: url('../images/input_field_fade.gif');
	background-repeat: repeat-x;
}
form textarea {
	line-height: 150%;
	height: 7.5em;
}
form div.input.text input:focus,
form div.input.password input:focus,
form textarea:focus {
	color: #000;
	text-decoration: none;
	border-color: #555;
	background: #eeffcc;
	background-image: url('../images/input_field_hover.gif');
}
form div.submit {
	margin-left: 20px;
}
form div.submit input {
	font-family: Arial;
	cursor: pointer;
	background-color: #ddd;
	background-image: url('../images/input_button_fade.gif');
	background-repeat: repeat-x;
}
form div.submit input {
	margin-bottom: 1px;
}
form div.submit input:hover,
form div.submit input:focus {
	color: #000;
	text-decoration: none;
	border-color: #555;
	border-bottom-width: 2px;
	margin-bottom: 0;
	background: #eeffbb;
	background-image: url('../images/input_button_hover.gif');
}
form p {
	padding-left: 9px;
}
div#flashMessage {
	padding-left: 27px;
}