#tos_window {
	margin-bottom: 10px
}
#tos_window h2 {
	margin-top: 0;
	padding-top: 0;
	padding-left: 8px;
}
form fieldset {
	width: 60em;
}
form div.input {
	margin-bottom: 1em;
}
form div.input.text input,
form div.input.password input {
	width: 20em;
}
form div.input.error.text input,
form div.input.error.password input {
	float: left;
	width: 20em;
	clear: none;
	margin-bottom: 1em;
}
form div.input.checkbox input,
form div.input.checkbox label {
	float: left;
	margin: 0;
}
form div.input.checkbox label {
	width: 23.5em;
	border: 1px solid white;
}
form div.input.error.checkbox label {
	color: #900;
}
form div.input.error .error-message {
	float: left;
	clear: none;
	width: 26em;
	margin: 0;
	margin-left: .5em;
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #990000;
	background-image: url('/img/error_bg.png');
	background-repeat: no-repeat;
	background-position: 1px 0;
	padding-left: 36px;
	font-weight: normal;
}
form div.input.text.error .error-message,
form div.input.password.error .error-message,
form div.input.textarea.error .error-message {
	margin-top: 3px;
}
div#authMessage.message,
div#flashMessage.message {
	width: 30em;
	margin: 0;
	margin-top: 2em;
	margin-left: .5em;
	border: 1px solid #900;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-image: url('/img/error_bg_2.png');
	background-repeat: no-repeat;
	background-position: 1px 0;
	padding-left: 36px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 8px;
	margin-bottom: 10px;
	margin-left: 28px;
	font-size: 110%;
	background-color: #fffff7;
}